body {
	background: #282828;
	color: lightgrey;
	font-family: poppins;
	transition: background .5s ease;
}

.playing {
	background: blue;
}

.recording {
	background: green;
}

.silent {
	background: purple;
}

.error {
	background: red;
}

.backBtn {
	text-decoration: none;
	background: lightgrey;
	color: grey;
	padding: 10px 20px;
}

.backBtn:hover {
	background: grey;
	color: lightgrey;
}

.startKey {
	color: grey;
	background: lightgrey;
	padding: 0 10px;
	box-shadow: 0px 2px 0px grey;
}