body {
	font-size: 2em;
	background: #282828;
	color: lightgrey;
	font-family: poppins;
	transition: background .5s ease;
}

.playing {
	background: #03036b; /* blue */
}

.recording {
	background: #124a04; /* green */
}

.silent {
	background: #420363; /* Purple */
}

.error {
	background: #630303; /* red */
}

.backBtn {
	text-decoration: none;
	background: lightgrey;
	color: grey;
	padding: 10px 20px;
}

.backBtn:hover {
	background: #adadad;
	//color: lightgrey;
}

.choices {
/*	display: flex;
	justify-content: center;*/
	text-align: center;
}

.key {
	color: grey;
	background: lightgrey;
	padding: 0 10px;
	box-shadow: 0px 5px 0px grey;
	transition: box-shadow .3s;
	cursor: pointer;
}

.key:hover {
	box-shadow: none;
}
